.rodape{
  display: flex;
  background-image: linear-gradient(#3c99a1, #000000);
  height: 100px;
  color: #ffffff;
  justify-content: space-around;
  align-items: center;
}

.logos{
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.logo{
  width: 50px;
}


