<footer>
  <div class="preenchimento">
    <a href="https://www.facebook.com/danilo.lacerda.336" target="_blank"><img class="logo" src="../../../assets/facebook.png" alt="Logo do Facebook"></a>
    <a href="https://github.com/danilo1205" target="_blank"><img class="logo" src="../../../assets/github.png" alt="Logo do Github"></a>
    <a href="https://www.instagram.com/lacerdanilo_/" target="_blank"><img class="logo" src="../../../assets/instagram.png" alt="Logo do Instagram"></a>
    <a href="https://www.linkedin.com/in/danilo-ferreira-lacerda/" target="_blank"><img class="logo" src="../../../assets/linkedin.png" alt="Logo do Linkedin"></a>
  </div>
</footer>
