<section class = "who">
  <div class="infos">
    <h1>Danilo Ferreira Lacerda</h1>
    <p>Profissional inserido na transformação Digital e na Qualidade de Atendimento ao cliente com foco em sua satisfação.
      Vasto conhecimento em desenvolvimento <strong>front-end</strong>, com foco no <strong>Angular</strong> .
      Habilidade em manipulação de <strong>banco de bados (SQL Server), Power BI, e Linguagem Python para análise e tratamento de dados</strong>.
      Facilidade de trabalhar em grupos, bom relacionamento com pessoas, responsabilidade, resiliência, flexibilidade e relacionamento com o cliente.
      Habilidade na construção de apresentações executivas.
      Vasta experiência na aplicação de treinamentos de alta escala e Workshop.
      Habilidade na elaboração de KPIs a nível gestão.</p> <br>

    <p><strong>Onde Estou?</strong></p><br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.7746243361385!2d-46.85367152468307!3d-23.50462595951025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf023d26d325c9%3A0xd43e99bf2f4d4180!2sCielo!5e0!3m2!1spt-BR!2sbr!4v1689714751913!5m2!1spt-BR!2sbr"
    width="400" height="300" style="border:0;" allowfullscreen=""
    loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="localizacao"></iframe>
  </div>

  <img class ="selfie" src="../../../../assets/113357814 (1).jfif" alt="Selfie de Danilo">
</section>
