<section class = "who">
  <div class="infos">
    <h1>Danilo Ferreira Lacerda</h1>
    <p>Nascido em 12/05/1996, na cidades de Lages - SC.</p>
    <p>Profissional inserido na transformação Digital e na Qualidade de Atendimento ao cliente com foco em sua satisfação.
      Vasto conhecimento em desenvolvimento <strong>front-end</strong>, com foco no <strong>Angular</strong> .
      Habilidade em manipulação de <strong>banco de bados (SQL Server), Power BI, e Linguagem Python para análise e tratamento de dados</strong>.
      Facilidade de trabalhar em grupos, bom relacionamento com pessoas, responsabilidade, resiliência, flexibilidade e relacionamento com o cliente.
      Habilidade na construção de apresentações executivas.
      Vasta experiência na aplicação de treinamentos de alta escala e Workshop.
      Habilidade na elaboração de KPIs a nível gestão.</p>
  </div>
  <img class ="selfie" src="../../../../assets/113357814 (1).jfif" alt="Selfie de Danilo">
</section>
