.container{
  color: #ffffff;

}

.formulario{
  border: none;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 2rem;

}

label{
  font-weight: bold;
  margin: 0 0 1rem;
}

.input{
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

.formulario form .textarea {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

.check{
  margin-left: 20px;
}
